
/*======================================
=            General Styles            =
======================================*/

body {
  .text-font;
  color: @textColor;
}

a,
a:visited {
  .transition(color 0.3s ease-in-out);
}

.site-wrapper {
  .flex-box();
  line-height: 1.6em;
  padding: 0;
  overflow-x: hidden;

  h1, h2, h3 {
    font-weight: normal;
    line-height: 1.2em;
  }
  h1 {
    .heading1Font;
    color: @heading1Color;
  }
  h2 {
    .heading2Font;
    color: @heading2Color;
  }
  h3 {
    .heading3Font;
    color: @heading3Color;
  }

  a {
    color: @linkColor;
    text-decoration: none;

    &:hover {
      color: @linkHoverColor;
    }

    &.disabled {
      color: #ccc;
    }
  }
}

.site-header {
  .flex(1);
  background-color: @headerBg;
  text-align: center;
  box-shadow: 0px 0px 6px #222;

  #logoWrapper {
    padding: 20px;

    #logoImage {
      margin: 0;

      a {
        display: block;
      }

      img {
        max-height: @logoSize;
        width: auto;
      }
    }
  }
}

.site-navigation { }

.site-navigation-list {
  padding: 0;
}

.site-navigation-item {
  display: block;
  font-size: 87.5%;

  & + .site-navigation-item {
    margin-top: 0;
  }

  a {
    .navigation-font;
    color: @navColor;
    text-decoration: none;

    &:hover {
      color: @navActiveColor;
    }
  }

  &.active-link > a {
    color: @navActiveColor;
  }

}

#siteTitle {

  .site-title-link {
    color: #111;
    font-weight: 400;
    text-decoration: none;
  }
}

.content-container {
  .flex(3);

  .content-inner {
    padding: 100px 80px 20px;
  }
}

.site-footer {
  font-size: 75%;

  .site-footer-content {
    margin: 80px 0px 20px;

    &.empty {
      margin: 0;
    }
  }
}


/*----------  Homepage  ----------*/

body.homepage { }


/*----------  Blog List  ----------*/

body.collection-type-blog.view-list {

  .blog-list-item + .blog-list-item {
    margin-top: 3vw;
  }
}

/*=====  End of General Styles  ======*/
