
/*======================================
=            General Styles            =
======================================*/

body {
  .text-font;
  color: @textColor;
}

a,
a:visited {
  .transition(color 0.3s ease-in-out);
}

.site-wrapper {
  .flex-box();
  line-height: 1.6em;
  padding: 0;
  overflow-x: hidden;

  h1, h2, h3 {
    font-weight: normal;
    line-height: 1.2em;
  }
  h1 {
    .heading1Font;
    color: @heading1Color;
  }
  h2 {
    .heading2Font;
    color: @heading2Color;
  }
  h3 {
    .heading3Font;
    color: @heading3Color;
  }

  a {
    color: @linkColor;
    text-decoration: none;

    &:hover {
      color: @linkHoverColor;
    }

    &.disabled {
      color: #ccc;
    }
  }
}

.site-header {
  .flex(1);
  background-color: @headerBg;
  text-align: center;
  box-shadow: -1px 0px 6px #222;

  #logoWrapper {
    #logoImage {
      margin: 0;

      img {
        max-height: @logoSize;
        width: auto;
      }
    }
  }
}

.site-navigation { }

.site-navigation-list {
  padding: 0;
}

.site-navigation-item {
  display: block;
  font-size: 87.5%;

  & + .site-navigation-item {
    margin-top: 0;
  }

  a {
    .navigation-font;
    color: @navColor;
    text-decoration: none;

    &:hover {
      color: @navActiveColor;
    }
  }

  &.active-link > a {
    color: @navActiveColor;
  }

}

#siteTitle {

  .site-title-link {
    color: #111;
    font-weight: 400;
    text-decoration: none;
  }
}

.content-container {
  .flex(3);
  padding: 100px 80px 20px;
}

.site-footer {
  font-size: 75%;
  margin: 80px 0px 20px;
}


/*----------  Homepage  ----------*/

body.homepage { }


/*----------  Blog List  ----------*/

body.collection-type-blog.view-list {

  .blog-list-item + .blog-list-item {
    margin-top: 3vw;
  }
}

#sidecarNav nav {
  a,
  a:visited,
  .folder-toggle {
    .naviagation-font;
    line-height: 1em;
    color: @navColor;
    &:hover {
      color: @navActiveColor;
    }
  }
  .active{
    > a,
    > a:visited,
    > .folder-toggle{
      color:@navActiveColor;
    }
  }
  .subnav{
    background-color: fade(@headerBg, 100%);
  }

}

// folder indicator everywhere in mobile style nav
#sidecarNav .folder .folder-toggle:before {
  content: '+';
  padding-right: 0.25em;
  width: 0.75em;
  display: inline-block;
}

#sidecarNav .folder .folder-toggle.active:before {
  content:'–'
}

// Folders on mobile
.touch-styles {
  .folder {
    position: relative;
  }
  .folder-toggle ~ .subnav {
    height: 0;
    max-height: 0;
    overflow: hidden;
    padding: 0 1.5em 0;
    font-size: @navigation-font-font-size;
    text-align: left;
    > div {
      padding: 1em 0 0;
    }
  }
  .folder-toggle.active ~ .subnav {
    height: auto;
    max-height: 999px;
    padding: 0 1em 1em;
  }
  #header .folder-toggle ~ .subnav,
  #footer .folder-toggle ~ .subnav {
    position: absolute;
    left: 0;
  }
  #header .folder:last-child .subnav {
    text-align: right;
    right: -1em;
    left: auto;
  }
}

/*=====  End of General Styles  ======*/
