
/*=========================================
=            Mobile Navigation            =
=========================================*/

@mobilePadding: 20px;
@headerVertPadding: 30px;

#sidecarNav {
  position: fixed;
  width: 260px;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  line-height: 1em;
  text-align: left;
  overflow: auto;
  // we toggle visibility here when it's closed, otherwise
  // the sidecar will stick out below the footer on short pages
  visibility:hidden;
  background-color: fade(@headerBg, 100%);
  .font-smoothing(@headerBg);
  .border-box();
  .transition(~"height 0s .14s linear, visibility 0s 0.14s linear");
  nav {
    padding: @mobilePadding*1.2 @mobilePadding*1.8 72px;
    div {
      .border-box();
      a,
      label {
        display: block;
        padding: 0.75em 0;
        .navigation-font;
        font-size: 1.2em;
        text-decoration: none;
        color: @navColor;

        &:hover {
          color: @navActiveColor;
        }
      }
      &.active-link a {
        color: @navActiveColor;
      }
    }
  }
}

.mobile-nav-toggle {
  display: none;
  .border-box();
  z-index: 100;
  width: 10%;
  position: absolute;
  z-index: 1002;
  top: @headerVertPadding*2;
  right: @headerVertPadding;
  margin-top: -8px;
  padding: 0;
  vertical-align: middle;
  line-height: 16px;
  text-align: right;
  cursor: pointer;
  user-select: none;
  color: @navColor;
  width: 22px;
  height: 22px;
  .top-bar,
  .middle-bar,
  .bottom-bar {
    width: 22px;
    height: 2px;
    background-color: fade(@navColor, 100%);
    .transition(~"transform 0.1s 0s ease-in-out, top 0.1s 0.1s ease-in-out");
    .transform-origin(50%,50%);
    position: absolute;
    top: 0;
    right: 0;
  }
  .middle-bar {
    .transition(opacity 0s 0.15s linear);
    top: 7px;
  }
  .bottom-bar {
    top: 14px;
  }
}

.mobile-nav-open {
  //Hide Announcement bar
  .sqs-announcement-bar-dropzone {
    display: none;
    visbility: hidden;
  }
  .body-overlay {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index:9999;
    cursor: e-resize;
    .transform(translatex(-260px) translatez(0));
  }

  #sidecarNav {
    height: 100%;
    visibility: visible;
    .transition(~"height 0s .14s linear, visibility 0s 0s linear");
  }
  .site-wrapper {
    position: fixed;
    .transform(translate3d(-260px, 0, 0));
    height: 100%;
    box-shadow: 3px 0px 6px #000;
  }

  .mobile-nav-toggle {
    .top-bar {
      .transform(rotate(45deg));
      top: 7px;
    }
    .middle-bar {
      opacity: 0;
    }
    .bottom-bar {
      .transform(rotate(-45deg));
      top: 7px;
    }
  }
}

/*=====  End of Mobile Navigation  ======*/


/*=====================================
=            Mobile Styles            =
=====================================*/

//Increase header width
@media only screen and (max-width: 1280px) {
  .site-header {
    flex: 2;
  }
  .content-container {
    .content-inner {
      padding: 40px 20px;
    }
  }
  body.collection-type-blog {
    .content-container {
      .content-inner {
        padding: 40px 20px;
      }
    }
  }
}

//Break grid and stack blocks on small screens
@media screen and (max-width: 1023px) {
  .site-header {
    #logoWrapper {
      padding-bottom: 0;
    }
  }
  .site-wrapper {
    display: block;
  }
  .site-navigation {
    padding: 5px;

    &-list {
      margin: 0.5em;
    }

    &-item {
      display: inline-block;
      vertical-align: middle;

      a,
      label {
        font-size: 18px;
      }

      &+.site-navigation-item {
        margin-left: 5px;
        margin-top: 0;
      }
    }
    .subnav {
      position: absolute;
      left: 50%;
      margin-left: 35px;
      z-index: 101;
      padding: 5px 15px;
      background-color: @headerBg;
    }
  }
  
  // kills the background color on tapped links
  .touch-styles {
    a,
    label {
      .tap-highlight(~"rgba(0,0,0,0) !important");
    }
  }
}
@media screen and (max-width: 640px) {
  @import 'sqs-grid-breaker';

  .mobile-nav-toggle {
    display: block;
  }
  
  .site-navigation {
    display: none;
    visibility: hidden;
  }

  .site-header {
    #logoWrapper {
      padding: 20px 0 0;
      #logoImage {
        margin: 0 auto;
        max-width: 200px;
        img {
          max-height: 100px;
        }
      }
    }
  }

  .thumb-wrapper {
    padding: 16px 0;
  }
}

/*=====  End of Mobile Styles  ======*/
