/*============================================
=            Style Editor Options            =
============================================*/


/*----------  Header  ----------*/

// tweak: { "type" : "color", "title" : "Header Background", "label" : "Background Color", "category" : "Header", "target" : ".site-header" }
@headerBg: #e6e6e6;

// tweak: { "type" : "value", "title" : "Logo Size", "category" : "Header", "target" : ".site-header #logoWrapper #logoImage img", "min" : 100, "max" : 400, "step" : 10, "showOnlyWhenPresent" : "#logoWrapper" }
@logoSize: 200px;


/*----------  Navigation  ----------*/

// tweak: { "type" : "font", "title" : "Navigation Font", "category" : "Navigation", "loadAllVariants" : true, "target" : ".site-navigation-item a" }
.navigation-font {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 1.05em;
}

// tweak: { "type" : "color", "title" : "Navigation Color", "category" : "Navigation", "target" : ".site-navigation-item a" }
@navColor: #999;

// tweak: { "type" : "color", "title" : "Navigation Active Color", "label" : "Navigation Color [Active]", "category" : "Navigation", "target" : ".site-navigation-item.active-link > a, .site-navigation-item a" }
@navActiveColor: #111;


/*----------  Main Content  ----------*/

// tweak: { "type" : "font", "title" : "Text Font", "category" : "Main Content", "loadAllVariants" : true, "target" : "body" }
.text-font {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 1.05em;
}

// tweak: { "type" : "color", "title" : "Text Color", "category" : "Main Content", "target" : "body" }
@textColor: #000;

// tweak: { "type" : "font", "title" : "Heading 1 Font", "category" : "Main Content", "loadAllVariants" : true, "target" : ".site-wrapper h1" }
.heading1Font {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 35px;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 1.05em;
}

// tweak: { "type" : "color", "title" : "Heading 1 Color", "category" : "Main Content", "target" : ".site-wrapper h1" }
@heading1Color: #000;

// tweak: { "type" : "font", "title" : "Heading 2 Font", "category" : "Main Content", "loadAllVariants" : true, "target" : ".site-wrapper h2" }
.heading2Font {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 1.05em;
}

// tweak: { "type" : "color", "title" : "Heading 2 Color", "category" : "Main Content", "target" : ".site-wrapper h2" }
@heading2Color: #000;

// tweak: { "type" : "font", "title" : "Heading 3 Font", "category" : "Main Content", "loadAllVariants" : true, "target" : ".site-wrapper h3" }
.heading3Font {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 1.05em;
}

// tweak: { "type" : "color", "title" : "Heading 3 Color", "category" : "Main Content", "target" : ".site-wrapper h3" }
@heading3Color: #000;

// tweak: { "type" : "color", "title" : "Link Color", "category" : "Main Content", "target" : ".site-wrapper .content-container a" }
@linkColor: rgba(100, 148, 237, 1);

// tweak: { "type" : "color", "title" : "Link Hover Color", "label" : "Link Color [Hover]", "category" : "Main Content", "target" : ".site-wrapper .content-container a" }
@linkHoverColor: rgba(100, 148, 237, 0.7);


/*=====  End of Style Editor Options  ======*/
