/*============================================
=            Style Editor Options            =
============================================*/


/*----------  Header  ----------*/

// tweak: { "type" : "color", "title" : "Header Background", "label" : "Background Color", "category" : "Header", "target" : ".site-header" }
@headerBg: rgb(38,38,38);

// tweak: { "type" : "value", "title" : "Logo Size", "category" : "Header", "target" : ".site-header #logoWrapper #logoImage img", "min" : 100, "max" : 400, "step" : 10, "showOnlyWhenPresent" : "#logoWrapper" }
@logoSize: 200px;


/*----------  Navigation  ----------*/

// tweak: { "type" : "font", "title" : "Navigation Font", "category" : "Navigation", "loadAllVariants" : true, "target" : ".site-navigation-item a" }
.navigation-font {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 1.05em;
  text-transform: none;
}

// tweak: { "type" : "color", "title" : "Navigation Color", "category" : "Navigation", "target" : ".site-navigation-item a" }
@navColor: #999;

// tweak: { "type" : "color", "title" : "Navigation Active Color", "label" : "Navigation Color [Active]", "category" : "Navigation", "target" : ".site-navigation-item.active-link > a, .site-navigation-item a" }
@navActiveColor: #ccc;

// tweak: { "type" : "checkbox", "title" : "Disable Folder Inidicator", "category" : "Navigation", "target" : ".folder", "showOnlyWhenPresent" : ".folder" }
.disable-folder-indicator .folder label span.fa-angle-down {
  display: none !important;
  visibility: hidden !important;
}


/*----------  Banner  ----------*/

// tweak: { "type" : "color", "title" : "Banner Overlay Color", "category" : "Banner", "target" : ".thumb-wrapper .color-overlay" }
@bannerOverlayColor: rgba(0,0,0,0.3);

// tweak: { "type" : "checkbox", "active" : false, "category" : "Banner", "title" : "Show Page Title" }

// tweak: { "type" : "font", "title" : "Page Title Font", "category" : "Banner", "loadAllVariants" : true, "target" : ".desc-wrapper h1.page-title", "showOnlyWhenPresent" : ".show-page-title .desc-wrapper h1.page-title" }
.page-title-font {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 1.05em;
  text-transform: none;
}

// tweak: { "type" : "color", "title" : "Page Title Color", "category" : "Banner", "target" : ".desc-wrapper h1.page-title", "showOnlyWhenPresent" : ".show-page-title .desc-wrapper h1.page-title" }
@pageTitleColor: #111;

// tweak: { "type" : "font", "title" : "Page Description Font", "category" : "Banner", "loadAllVariants" : true, "target" : ".desc-wrapper p, .desc-wrapper span a, .desc-wrapper time a" }
.page-description-font {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 1.05em;
  text-transform: none;
}

// tweak: { "type" : "color", "title" : "Page Description Color", "category" : "Banner", "target" : ".desc-wrapper p, .desc-wrapper span a, .desc-wrapper time a" }
@pageDescColor: #111;


/*----------  Main Content  ----------*/

// tweak: { "type" : "color", "title" : "Site Background Color", "label" : "Background Color", "category" : "Main Content", "target" : ".site-wrapper" }
@siteBgColor: #fff;

// tweak: { "type" : "font", "title" : "Text Font", "category" : "Main Content", "loadAllVariants" : true, "target" : "body" }
.text-font {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 1.05em;
  text-transform: none;
}

// tweak: { "type" : "color", "title" : "Text Color", "category" : "Main Content", "target" : "body" }
@textColor: #111;

// tweak: { "type" : "font", "title" : "Heading 1 Font", "category" : "Main Content", "loadAllVariants" : true, "target" : ".site-wrapper .content-container h1" }
.heading1Font {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 35px;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 1.05em;
  text-transform: none;
}

// tweak: { "type" : "color", "title" : "Heading 1 Color", "category" : "Main Content", "target" : ".site-wrapper .content-container h1" }
@heading1Color: #715237;

// tweak: { "type" : "font", "title" : "Heading 2 Font", "category" : "Main Content", "loadAllVariants" : true, "target" : ".site-wrapper .content-container h2" }
.heading2Font {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 1.05em;
  text-transform: none;
}

// tweak: { "type" : "color", "title" : "Heading 2 Color", "category" : "Main Content", "target" : ".site-wrapper .content-container h2" }
@heading2Color: #715237;

// tweak: { "type" : "font", "title" : "Heading 3 Font", "category" : "Main Content", "loadAllVariants" : true, "target" : ".site-wrapper .content-container h3" }
.heading3Font {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 1.05em;
  text-transform: none;
}

// tweak: { "type" : "color", "title" : "Heading 3 Color", "category" : "Main Content", "target" : ".site-wrapper .content-container h3" }
@heading3Color: #715237;

// tweak: { "type" : "color", "title" : "Link Color", "category" : "Main Content", "target" : ".site-wrapper .content-container a" }
@linkColor: rgba(100, 148, 237, 1);

// tweak: { "type" : "color", "title" : "Link Hover Color", "label" : "Link Color [Hover]", "category" : "Main Content", "target" : ".site-wrapper .content-container a" }
@linkHoverColor: rgba(100, 148, 237, 0.7);


/*----------  Quotes  ----------*/

// tweak: { "type" : "dropdown", "title" : "Quote Alignment", "options" : [ "Left", "Center", "Right" ], "default" : "Center", "category" : "Quote Block" }

// tweak: { "type" : "font", "title" : "Quote Block Font", "label" : "Font", "category" : "Quote Block", "loadAllVariants" : true, "target" : ".sqs-block-quote .sqs-block-content > figure blockquote" }
.quoteBlockFont {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2px;
  line-height: 1.05em;
  text-transform: none;
}

// tweak: { "type" : "color", "title" : "Quote Block Color", "label" : "Color", "category" : "Quote Block", "target" : ".sqs-block-quote .sqs-block-content > figure blockquote" }
@quoteBlockColor: #715237;

// tweak: { "type" : "font", "title" : "Quote Block Source Font", "label" : "Source Font", "category" : "Quote Block", "loadAllVariants" : true, "target" : ".sqs-block-quote .sqs-block-content > figure .source" }
.quoteSrcFont {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2px;
  line-height: 1.05em;
  text-transform: none;
}

// tweak: { "type" : "color", "title" : "Quote Block Source Color", "label" : "Source Color", "category" : "Quote Block", "target" : ".sqs-block-quote .sqs-block-content > figure .source" }
@quoteSrcColor: #715237;


/*----------  Loading Overlay  ----------*/

// tweak: { "type" : "checkbox", "title" : "Disable Loading Overlay", "active" : false, "category" : "Loading Overlay", "target" : ".loading-overlay" }
.disable-loading-overlay .loading-overlay {
  display: none !important;
}

// tweak: { "type" : "checkbox", "title" : "Show Loading Overlay", "active" : false, "category" : "Loading Overlay", "target" : ".loading-overlay" }
.show-loading-overlay .loading-overlay {
  display: block !important;
}

// tweak: { "type" : "color", "title" : "Loading Background Color", "label" : "Background Color", "category" : "Loading Overlay", "target" : ".loading-overlay", "showOnlyWhenPresent" : ".show-loading-overlay" }
@loadingBgColor: rgb(38,38,38);

// tweak: { "type" : "value", "title" : "Loading Logo Size", "label" : "Logo Size", "category" : "Loading Overlay", "min" : 100, "max" : 250, "step" : 5, "target" : ".loading-logo", "showOnlyWhenPresent" : ".show-loading-overlay .loading-logo-wrapper" }
@loadingLogoSize: 150px;

// tweak: { "type" : "font", "title" : "Loading Title Font", "label" : "Title Font", "category" : "Loading Overlay", "loadAllVariants" : true, "target" : ".loading-title", "showOnlyWhenPresent" : ".show-loading-overlay .loading-title-wrapper" }
.loading-title-font {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 36px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2px;
  line-height: 1.05em;
  text-transform: none;
}

// tweak: { "type" : "color", "title" : "Loading Title Font Color", "label" : "Title Font Color", "category" : "Loading Overlay", "target" : ".loading-title", "showOnlyWhenPresent" : ".show-loading-overlay .loading-title-wrapper" }
@loadingTitleColor: #fff;

// tweak: { "type" : "font", "title" : "Loading Message Font", "label" : "Message Font", "category" : "Loading Overlay", "loadAllVariants" : true, "target" : ".loading-message", "showOnlyWhenPresent" : ".show-loading-overlay" }
.loading-message-font {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2px;
  line-height: 1.05em;
  text-transform: none;
}

// tweak: { "type" : "color", "title" : "Loading Message Font Color", "label" : "Message Font Color", "category" : "Loading Overlay", "target" : ".loading-message", "showOnlyWhenPresent" : ".show-loading-overlay" }
@loadingMessageColor: #fff;

// tweak: { "type" : "dropdown", "title" : "Loading Icon Type", "label" : "Icon Type", "category" : "Loading Overlay", "options" : [ "Notched Circle", "Refresh", "Cog", "Spinning Dots", "Pulsing Dots" ], "default" : "Notched Circle", "target" : ".loading-icon", "showOnlyWhenPresent" : ".show-loading-overlay" }
.loading-icon-type {
  &-notched-circle {
    .loading-icon {
      .fa;
      .fa-spin;
      &:before {
        content: "\f1ce";
      }
    }
  }
  &-refresh {
    .loading-icon {
      .fa;
      .fa-spin;
      &:before {
        content: "\f021";
      }
    }
  }
  &-cog {
    .loading-icon {
      .fa;
      .fa-spin;
      &:before {
        content: "\f013";
      }
    }
  }
  &-spinning-dots {
    .loading-icon {
      .fa;
      .fa-spin;
      &:before {
        content: "\f110";
      }
    }
  }
  &-pulsing-dots {
    .loading-icon {
      .fa;
      .fa-pulse;
      &:before {
        content: "\f110";
      }
    }
  }
}

// tweak: { "type" : "value", "title" : "Loading Icon Size", "label" : "Icon Size", "min" : 32, "max" : 64, "step" : 1, "category" : "Loading Overlay", "target" : ".loading-icon", "showOnlyWhenPresent" : ".show-loading-overlay" }
@loadingIconSize: 36px;

// tweak { "type" : "color", "title" : "Loading Icon Color", "label" : "Icon Color", "category" : "Loading Overlay", "target" : ".loading-icon", "showOnlyWhenPresent" : ".show-loading-overlay" }
@loadingIconColor: #fff;


/*=====  End of Style Editor Options  ======*/
